@model Department
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="card">
    <h3 class="card-title">@Model.Name</h3>
    <h2 class="card-subtitle">@Model.Code</h2>
    <p class="card-body">@Model.CreatedAt</p>
</div>